<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Bad Robots 1014
    </super-navbar-title>
  </super-navbar>

  <p>Welcome to the <strong>Bad Robots 1014</strong> app &mdash; come here for the latest news and updates on the robot and the team.</p>

  <p>Below, you can learn more about the robot, the team's history, and our Twitter stream.</p>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">History of 1014</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Robot Status</button>
  </super-navigate>

  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>, we would love to get your feedback!</p>

</div>
